.ribbon {
    padding: 15px;
    height: 40px;
    background: #1AA1AE;
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 0% 0%, 0% 0%);
    font-family: "font_condensed";
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.18em;
    font-size: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 100%;
  }
  
.title {
  color:#1AA1AE
}
  .custom-pagination .MuiPagination-ul {
    display: flex;
    align-items: center;
}

.custom-pagination .MuiPagination-ul > *:not(:last-child)::after {
    content: '|';
    margin: 0 8px;
    color: #ccc;
}