.BigtechLogo img {
    width: 80px;
    height: 80px;
    /* margin: 0 40px; */
    padding: 0 30px;
    /* width: 50%; */
}
.BigtechLogo {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    place-items: center;
    
    gap: 30px;
    /* align-items: center; */
    /* justify-content: space-between; */
}