.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn_nav {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    clear: color;
    font-size: 18px;
    font-weight: 15px;
    color: #1AA1AE;
    text-align: center;
    min-width: 55px;
    cursor: pointer;
}
#join-us {  
    margin-left: 10px;
    border: 3px solid 1px;
    border-radius: 10px;
    background-color: #1AA1AE;
    color: white;
    font-weight: bold;
}
#join-us:hover {
    background-color: #ffffff;
    color: #1AA1AE;
    border: #1AA1AE solid 2px;
}
#login_nav:hover {
    color: #fff;
    background-color: #1AA1AE;
    font-weight: bold;
    border-radius: 10px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}