.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: #9d9c9c solid 1px;
  border-width: 1px;
  border-radius: 40px;
  border-color: #9d9c9c;
  /* padding: 1% 1%; */
  background-color: #ffffff;
  overflow: hidden;
  flex: 2;
  max-width: 600px;
  min-width: 120px;
  height: 50px;
 }

 .inputContainer:focus-within {
  border: 2px solid #1AA1AE;
  box-shadow: 0 0 8px #1aa2aea4
}


.icon-container {
  border: #1aa1ae solid 1px;
  border-radius: 400px;
  background-color: #1aa1ae;
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;

}
.icon-style {
  color: #ffffff;
  font-weight: 200;
  padding: 5px;
  font-size: 20px !important;
}

.input {
  padding-left: 2%;
  padding-right: 2%;
  flex: 1;
  font-size: 17px;
  font-weight: lighter;
  color: #1AA1AE;
  border: none;
  outline: none;
  width: 100%;
}


@media screen and (max-width: 1000px) {
    .inputContainer {
      display: none;
    }
}