/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* Search Input */
.main-content input {
    width: 100%;
    max-width: 400px;
    padding: 12px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid #f60505;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 4px 6px rgba(249, 4, 4, 0.1);
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    color: #333;
}

.main-content input::placeholder {
    color: #aaa;
    font-style: italic;
}

.main-content input:focus {
    border-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 170, 255, 0.3);
    background-color: #f9f9f9;
    color: #000;
}

.main-content input:hover {
    border-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 170, 255, 0.2);
}
  

/* Main Content */
.main-content {
    margin-left: 220px;
    padding: 20px;
}
  
.main-content h1 {
    color: #000000;
    margin-bottom: 20px;
}
  
/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
  
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
th {
    background-color: #000000;
    color: #fff;
}
  
td button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
td button:hover {
    background-color: #c82333;
}
